<%= render(partial: 'layouts/navbar') %>
<div class="container">
  <div class="center-align">
    <h1>About BucketList</h1>
    <h4>Here at BucketList we believe that life should be a bucket of fun. So we got together and made a way for everyone to set goals, share them with friends, and celebrate life! Sign up to organize your goals and have a good time checking them off and taking over the world and exploring outer space and the ocean floor. Keep a tamagochi alive for more than a week. Pop rocks. Keepin' it Agile. </h4>
  </div>
</div>